.info > span, .info{
	letter-spacing: 3px;
	font-size: 20px;
}
#send_bt{
	padding: 20px;
	letter-spacing: 4px;
	font-size: 20px;
}

#poster{
	height: 60vh;
}
.list-group-item.disabled, .list-group-item:disabled{
	color: #6c757d !important;
}
.carousel-inner > .carousel-item > img {
	width:640px;
	height:360px;
}